body
  form(action='/new', method='POST')
    p
      | title: 
      input(type='text', name='text', value='')
      |          user: 
      input(type='text', name='user', value='')
      |           
    input(type='submit', value='Submit')